
@{
    ViewData["Title"] = "SportContacts";
}

<h1>Sport Contacts</h1>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Contacts" asp-action="Index">Kontakter</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Contacts" asp-action="ViewDB">DB View av Kontakter</a>
    </li>
       
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="ContactRaws" asp-action="Index">Kontakter i textformat</a>
    </li>
</ul>
<h1>ÅldersKategorier</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="AgeCategories" asp-action="Index">Ålderskategorier</a>
    </li>
</ul>
<h1>Klubbar</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Clubs" asp-action="Index">Klubbar</a>
    </li>
</ul>
<h1>Distrikt</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Districts" asp-action="Index">Distrikt</a>
    </li>
</ul>
<h1>Roller</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="Index">Roller</a>
    </li>
</ul>
<h1>Säsonger</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Seasons" asp-action="Index">Säsonger</a>
    </li>
</ul>
<h1>Sporter</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Sports" asp-action="Index">Sporter</a>
    </li>
</ul>
<h1>Lag</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Teams" asp-action="Index">Lag</a>
    </li>
</ul>

